---
import { siteMetadata } from '../data/siteMetadata';
import SocialIcon from './SocialIcon.astro';
---

<footer>
  <div class="mt-16 flex flex-col items-center">
    <div class="mb-3 flex space-x-4">
      <SocialIcon kind="mail" href={`mailto:${siteMetadata.author.email}`} size={6} />
      <SocialIcon kind="github" href={siteMetadata.author.github} size={6} />
      <SocialIcon kind="linkedin" href={siteMetadata.author.linkedin} size={6} />
      <SocialIcon kind="youtube" href={siteMetadata.author.youtube} size={6} />
    </div>
    <div class="mb-2 flex space-x-2 text-sm text-gray-500 dark:text-gray-400">
      <div>{siteMetadata.author.name}</div>
      <div>&bull;</div>
      <div>&copy; {new Date().getFullYear()}</div>
      <div>&bull;</div>
      <a href="/" class="hover:text-primary-500">{siteMetadata.title}</a>
    </div>
  </div>
</footer>
